<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container" style="text-align: center">
    <a type="button" class="btn btn-sm btn-outline-secondary" href="/login">返回</a>
    <a type="button" class="btn btn-sm btn-outline-secondary" href="/login">返回</a>
    <a type="button" class="btn btn-sm btn-outline-secondary" href="/login">返回</a>
    <a type="button" class="btn btn-sm btn-outline-secondary" href="/login">返回</a>
    <a type="button" class="btn btn-sm btn-outline-secondary" href="/login">返回</a>
    <a type="button" class="btn btn-sm btn-outline-secondary" href="/login">返回</a>
</div>
</body>
</html>