<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<header>
    <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4 class="text-white"><a th:if="${current}" href="/logout">退出</a></h4>
                    <p class="text-muted">待填写</p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <h4 class="text-white">联系我</h4>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white">暂无</a></li>
                        <li><a href="#" class="text-white">暂无</a></li>
                        <li><a href="#" class="text-white">暂无</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
            <a th:href="@{/home(userId=${current.getId()})}" href="/home" class="navbar-brand d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2" viewBox="0 0 24 24"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
                <strong th:text="${current.getNickname()}">用户名</strong>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</header>

<main class="container">
<form id="upload_form">
    <input type="file" class="form-control" id="customFile" name="files" multiple>
    <div th:each="user:${users}">
        <label>
            <input type="radio" name="userId" th:value="${user.getId()}" th:text="${user.getNickname()}" th:checked="${current.getId()==user.getId()}">
        </label>
    </div>
    <input id="upload-btn" type="button" value="上传"/>
</form>
<table border="1" cellspacing="0" cellpadding="10">
    <thead>
    <tr>
        <td>序号</td>
        <td>用户名</td>
        <td>操作</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user,userStat : ${users}">
        <th th:text="${userStat.index+1}">序号</th>
        <td th:text="${user.getNickname()}">用户名</td>
        <td>
            <a th:href="@{/files/{username}(username=${user.getId()})}">打开</a>
        </td>
    </tr>
    </tbody>
</table>
</main>

<script type="text/javascript"  th:src="@{/js/jquery.js}"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/video.min.js"></script>
<script>
    $(document).ready(function() {
        //表单异步提交
        $("#upload-btn").on("click", function () {
            $.ajax({
                async:false,
                type: 'post',
                enctype: 'multipart/form-data',
                data: new FormData(document.getElementById("upload_form")),
                url: '/file',
                cache: false,
                processData:false,
                contentType:false,
                success: function (data) {
                    if ("上传成功" === data) {
                        alert("上传成功");
                    } else {
                        alert("上传失败");
                    }
                }
            })
        })
    })
</script>

</body>
</html>